{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "plugin:@coorpacademy/coorpacademy/core"
  ],
  "plugins": [
    "@coorpacademy/coorpacademy"
  ],
  "rules": {
    "indent": "off"
  }
}
